<p>
    <%=link_to blog.title, blog_path(blog.id) %>
  </p>
  <p><%=blog.body %></p>
  <p>created: <%= distance_of_time_in_words(blog.created_at, Time.now) %></p>
<p><%=link_to blog.status, toggle_status_blog_path(blog)%></p>