<div class="socials">
    <div class="telegram">
     <%= content_tag(:i, "", class: "fab fa-telegram fa-2x") %>
    </div>
    <div class="discord">
    <%= content_tag(:i, "", class: "fab fa-discord fa-2x") %>
    </div>
    <div class="instagram">
     <%= content_tag(:i, "", class: "fab fa-instagram fa-2x") %>
    </div>
 </div>