<div class="n-news">
    <%= video_tag "Naruto vs Sasuke kokuten.mp4", class:"blog-video",autoplay: true,
              muted: true,
              loop: true,
              playsinline: true %>
<div class="news-body">

<h1>new news</h1>
<%= render 'form', news: @news %>
</div>
</div>