<div class="news-container">
    <div class="image-container">
           <img src="<%=@news.image%>" alt="Description of image" class="news_image">
           <h1><%=@news.title%></h1>
    </div>
    <div class="news-description">
      <h4>Description</h4>
      <p><%=@news.description%></p>
    </div>
</div>