

    <div class="content">
      <h1  class= "home-header">Home</h1>
      <div class="nav-card_container">
      <div class="nav-index0">
        <div class="nav-container">
          <div class="logo">
            <h3>Anime B</h3>
          </div>
          <nav class="nav">
            <%= render "shared/application_nav" %>
          </nav>
          <div class="auth-links">
            <%= login_helper %>
           
          </div>
        
        </div>
        <hr></hr>
      </div>
     
     
 
      </div>
    </div>

  
</body>
</html>




