<div class="n-body">
    <%= video_tag "Naruto vs Sasuke kokuten.mp4", class:"blog-video",autoplay: true,
              muted: true,
              loop: true,
              playsinline: true %>
<div class="new-blog-body">

<h1>Edit Anime</h1>
<%= render 'form', object: @anime %>
</div>

</div>