@import "bootstrap";
/*
 * Globals
 */

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #000; /* Black background */
  color: white; /* Default text color */
}



.nav-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
 padding-left: 35px;
 padding-right: 35px;
 padding-top: 18px;
}

.nav {
  display: flex;
  gap: 20px;
 
}

.content{
  padding-left: 35px; 
  padding-right: 35px;
}

.home-header{
  margin-top: 30px;
   margin-bottom: 20px;
}

.nav-link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-link.active, .nav-link:hover {
  color: white;
  border-bottom: 2px solid white;
}

.auth-links {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.login-btn {
  background-color: black;
  color: white;
}

.register-btn {
  background-color: white;
  color: black;
}

main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.nav-card_container {
  height: 100vh;
  border-radius: 12px;
  
  background-color: red;
  
}

.nav-index0{
  height: 50vh;
  display: flex;
  flex-direction: column;
  
 border-radius: 10px;

}



/* Responsive Design */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .nav {
    flex-direction: column;
  }

  .auth-links {
    flex-direction: column;
  }
}
