// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
   overscroll-behavior: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

 body {
//  height: 350vh;
min-height: 70vh;
height: auto;
  font-family: Arial, sans-serif;
  display: flex;
  text-align: center;
  flex-direction: column;
color: white;
 background-color: black;
overflow: auto;
overflow-x: hidden;

}

.profile-avatar{
padding-left: 5px;
height: 50px;
width: 55px;
border-radius: 50%;
}

.link{
  position: relative; width:max-content; display:flex; justify-self:center
}

.profile-avatar img{
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 50%;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100000px; 
 z-index: 1;
 background-color: transparent;
}

.nav-link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: bold;
   padding: 5px 10px;
  padding-top: 8px;
  transition: color 0.3s ease;
}

.nav-item .nav-link.active, .nav-link:hover {
  color: white;
 
}

.auth-links {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.login-btn {
  background-color: rgb(84, 74, 74);
  color: white;
}

.register-btn {
  background-color: white;
  color: black;
}


.genres-container{
    position: relative;
flex-grow: 1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    padding-top: 40px;
    padding-right: 25px;
}

.genre-body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.genre-head{
  position: relative;
  display: flex;
  justify-content: space-between;
width: 100%;
margin-top: 40px;
align-items: center;

}



.new-genre-link{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  text-decoration: none;
   
  
}

.new{
  position: absolute;
   height: 100%;
   width: 100%;
   font-size: medium;
   font-family: "Playfair Display", Georgia, "Times New Roman", serif
}
.new-genre{
  display: flex;
  position: relative;
  color:   #f06292;
   width: 120px;
   height: 20px;
   overflow: hidden;
}

.new-genre:hover{
  color: #D5015B;
}

.genre-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  gap: 20px;
  justify-items: center;
}

.genre-card-container{
  position: relative;
  width: auto;
  
}

.genre-card{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 290px;
  margin-top: 80px;
  margin-bottom: 20px;
  width: 350px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.genre-card:hover .second-genre-card,
.genre-card:hover .third-genre-card{
  opacity: 1;
}

.genre-image{
  position: absolute;
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
  object-fit:fill;
  z-index: -1;
}
.genre-des{
position: absolute;
  display: flex;
  flex-direction: column;
  height: 35%;
  width: 100%;
  align-items: start;
  padding-left: 15px;
  padding-top: 10px;
  bottom: 0;
  background-color: rgb(27, 25, 25);
  padding-right: 15px;
  border-bottom-left-radius: 10px;
}

.second-genre-card{
  position: absolute;
  border-bottom-left-radius: 10px;
  height: 200px;
  width: 82%;  
  z-index: -2;
  opacity: 0;
  bottom: 45%; /* Offset vertically (or adjust) */
   right: 41% ; /* Offset horizontally (or adjust) */
   transition: 0.7s ease-in 0.3s;
}


.third-genre-card{
  position: absolute;
  border-bottom-left-radius: 10px;
  height: 180px;
  width: 65%;  
  opacity: 0;
  z-index: -3;
  bottom: 65%; /* Offset vertically (or adjust) */
  right: 33%; /* Offset horizontally (or adjust) */
  transition: 0.7s ease-in 0.5s;
}

.genre-show-link{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-decoration: none;
  cursor: pointer;
}

.footer{
  z-index: 10;
}

.gshow-body{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 40px;
}

.gshow-body h1{
  margin-top: 30px;
  margin-bottom: 25px;
}

.gshow-body h2{
  margin-top: 10px;
  margin-bottom: 10px;
}

.genre-show-image{
  object-fit: cover;
  border-radius: 10px;
}

.alphabet-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 1rem;
}

.alphabet-filter a {
  text-decoration: none;
  color: #D5015B;
  font-weight: bold;
  padding: 4px 8px;
}

.alphabet-filter .active-letter {
  background-color: #f06292;
  color: black;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.genre-list {
  display: grid;
  grid-template-columns: repeat(2,1fr);

  width: 100%;

 
}

.genre-column {
  text-align: start;
 gap: 20px;
 width: 250px;

 margin-bottom: 20px;
}

.search-link{
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.na{
  z-index: 1;
  width: 100%;
}

.cf{
  padding-top: 20px;
}

.nn{
  padding-left: 20px;  
  width:100%;
}

.search-wrapper , .search-wrapper-logged-out{
position: relative;
  display: flex;
  flex-grow: 1;
padding-left: 30px;
padding-right: 30px;
border: none;
}

.login-btn:hover{
  background-color: blueviolet;
}


.logout-btn {
    background-color: gray;
    color: white;
    padding-right: 20px;
    padding-top: 10px;
  }

  .logout-btn:hover{
    background-color: red;
  }

  .register-btn:hover{
  background-color: greenyellow;
}

.anime-title{
  color: #D5015B;
  text-decoration: none;
  cursor: pointer;
}

.anime-title:hover {
  color: white;
}

.g-bod{
  text-align: start;
}


.new-form{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.new-form .field{
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 70%;
  margin-bottom: 10px;
}
.new-form .d-field{
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  margin-bottom: 10px;
}

.new-form .actions{
  margin-bottom: 20px;
  width: fit-content;
  border: none;
  margin-top: 20px;
}
.new-form .submit{
background-color: rgb(109, 109, 231);
border: none;
width: 115px;
border-radius: 10px;
cursor: pointer;
}

.blog-video{
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}
.n-blog{
  position: relative;
  display: flex;
  flex-direction: column;
    min-height: 100vh;
  height: auto;
  width: 100%;
}

.new-genre-body{
  position: relative;
height: 100%;
width: 100%;
  display: flex;
  flex-direction: column;
padding-right: 30px;
padding-left: 55px;
margin-top: 50px;
text-align: start;
color: white;
  scroll-behavior: smooth;
  z-index: 1;
}

.add-anime{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 10px;
  color: #D5015B;
}

.add-anime-form{
  display: flex;
  flex-direction: column;
  align-items: start;
 
}

.save-btn{
display: none;
margin-top: 15px;
margin-bottom: 10px;
}

.nested-fields{
  display: flex;
}

.remove-btn{
  margin-left: 15px;

}

.remove-btn a{
  text-decoration: none;
  color: #D5015B;
}

.back-genre{
  color: #D5015B;
  text-decoration: none;
  cursor: pointer;
}

.edit-genres{
  color: #D5015B;
  text-decoration: none;
  cursor: pointer;
  
}

.admin-utils{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 60px;
}

  .logout-btn {
    background-color: red;
    color: white;
  }

  .edit-genre{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    width: 100%;
    padding-left: 40px;
    padding-right: 20px;
  }

   .edit-genre h1{
    margin-top: 30px;
   }

   .delete-btn{
  background-color: transparent;
  border: none;
  color: red;
}




.formula{
  width: 100%;
}

.search-input {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  padding-left: 40px; 
  border-color: #49515E;
 box-shadow: none;
 outline: none;
  background-color: #5B5B5B;
  opacity: 0.5;
  transition: opacity 0.5s ease-in;
  z-index: 200;
}



.search-input::placeholder {
  /* increase to push text more */
  color: #B8BDC7;       /* optional: placeholder color */
}

.search-icon {
  position: absolute;
  top: 28%;
  left: 42px;
  width: 20px;
  height: 20px;
  color: #B8BDC7;
  pointer-events: none; /* so typing still works */
}
.dropdown-results {
  position: absolute;
  top: 45px;
  width: 420px;
  background: #111;
  border: 1px solid #333;
  z-index: 2;
  max-height: 300px;
  overflow-y: auto;
  display: none;
}

.dropdown-results.show {
  display: block;
  z-index: 200;
}

.search-result-item {
  height: 90px;
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
}

 .search-result-row{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
   align-items: start;
  justify-content: start;
 }

.search-result-row p{
  color: #999999;
  font-size: 14px;
  margin-bottom: 2px;
  margin: 0px;
}

.search-result-row h3{
  color: white;
  font-size: 18px;
  
  
}
.search-result-item:hover {
  background: #D5015B;
}
.no-result {
  display: flex;
  color: #aaa;
  
}

.search-result-item-link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  display: block;
}

@media (min-width: 800px) and (max-width: 1190px) {
  .genre-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  width: 100%;
  gap: 20px;
  justify-items: center;

}

.genre-card{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 290px;
  margin-top: 80px;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.show-image-wrapper{
  display: flex;
  width: 100%;
  position: relative;
   justify-content: start;
    align-items: start;
}

}

@media (max-width: 800px) {
    .genre-grid{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  display: flex;
  padding-top: 10px;
 flex-direction: column;
  gap: 20px;
  justify-self: start;
  justify-items: center;
}

.genre-card{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 310px;
  margin-top: 80px;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


}

@media(max-width: 386px){

  .show-image-wrapper{
    position: relative;
    display: flex;
    justify-content: start;
    padding-right: 30px;

  }


.genre-show-image{
  object-fit:fill;
  border-radius: 10px;
 width: 100%;
  }
}