@import "bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html ,body{
    background-color:white;
    height: auto;
    width: 100%;
    min-height: 80vh;
    overflow: auto;
    padding-left: 30px;
    padding-right: 30px;
  
}

.news-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 12px;
   margin-bottom: 30px;

}

.news-container .image-container {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: aqua;
    
}

.image-container .news_image{
height: 100%;
width: 100%;
object-fit: cover;
border-top-right-radius: 12px;
border-top-left-radius: 12px;
}

.image-container h1{
    position: absolute;
    top: 70px;
    left: 30px;
    width: 500px;
    font-weight: bold;
    color: white;
}

.news-description{
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 50px;  
    background-color: transparent;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.news-description h4{
    font-weight: bold;
    color: black;
    margin-top: 20px;
}

.news-description p {
 margin-top: 30px;
    text-align: justify;
text-align-last: left;
color: black;
  }
  
  .second{
    margin-top: 50px;
  }
 

.copyright{
    text-align: center;
}

.news-card{
    display: flex;
    flex-direction: column;
    max-height:  160px;
    height: auto;
    overflow-y: hidden;
    
    margin-bottom: 10px;
    padding-left: 20px;
}

.news-card h3{
    font-size: medium;
}



.row-news{
    overflow-y: hidden;
}

.news-card hr{
    color: grey;
}

.pic-des{
    display: flex;
    justify-content: start;
}

.related-image{
    width: 80px;
    object-fit: cover;
}

.related-text{
    padding-left: 10px;
}

.second-head{
    padding-left: 20px;
    margin-bottom: 10px;
}

.list{
    display: flex;
    flex-direction: column;
}

.show-more-button{
    position: relative;
    display: flex;
    margin-left: 20px;
    height: 40px;
    width: 320px;
    text-align: center;
    justify-content: center;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
}

.show-more-button p{
    padding: 0;
    margin-top: 6px;
}
