@import "bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html ,body{
    background-color:black;
    height: auto;
    width: 100%;
    min-height: 80vh;
    overflow: auto;
    padding-left: 30px;
    padding-right: 30px;
  
}

.news-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 12px;
   margin-bottom: 30px;

}

.news-container .image-container {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: aqua;
    
}

.image-container .news_image{
height: 100%;
width: 100%;
object-fit: cover;
border-top-right-radius: 12px;
border-top-left-radius: 12px;
}

.image-container h1{
    position: absolute;
    top: 70px;
    left: 30px;
    width: 500px;
    font-weight: bold;
    color: white;
}

.news-description{
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 50px;  
    background-color: #111111;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.news-description h4{
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

.news-description p {
 margin-top: 30px;
    text-align: justify;
text-align-last: left;
color: #FBFBFB;
  }
  
 

.copyright{
    text-align: center;
}